@import "tailwindcss";
@plugin "@tailwindcss/typography";

/*tarjetas de marcas, tipos de producto y productos*/
.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 280px), 350px));
  justify-content: center;
  margin: 15px 5px 0;
  gap: 1rem;
}

.card-link {
    text-decoration: none;
    color: inherit;
}

.card-h2 {
    margin: 0;
    font-size: 1.2rem;
    color: #0f172a;
    text-align: center;
    font-weight: 500;
}

/*líneas separadoras*/
.separator {
    width: 90%;
    margin: 0 auto 2rem auto;
    border: none;
    height: 1px;
    background-color: #000000;
}

.separator-menu {
    width: 100%;
    
    border: none;
    height: 1px;
    background-color: #00000033;
}

/*botón cargar más*/
.load-more {
    display: block;
    margin: 2rem auto;
    border: 2px;
    border-radius: 18px;
    border: 1.5px solid #000000;
    padding: 0.5rem;
    cursor: pointer;
}

.load-more:hover {
    color: #964794;
    border: 1px solid #964794
}

/*contenedor y botón filtros*/
.div-filters {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    padding-inline: 5%;
    box-sizing: border-box;
}

.filter-button {
    font-size: 2rem;
    cursor: pointer;
    line-height: 1;
}
.filter-button:hover {
    color: #964794;
}


